
/**my css**/



 .hidden {
  display: none;
   }

   .question{
    color: #fff;
   }
   .white{
    color: white;
   }
   #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00ff80;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
}

.stm{
  font-family: 'arial';font-size: 22px;
}

#nightly{
  width:100%;
}

/* switch css*/


.dropdown-menu{
    background: #fff;
    padding: 20px;
}
.dropdown-menu a:link, a:visited {
    background-color: #f44336;
    color: #green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.dropdown-menu a:visited {
    background-color: #fff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.dropdown-menu a:hover, a:active {
    background-color: green;
    color:white;
}
.img-thumbnail {
  width:200;
  height:200;
}

/*snack bar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}